@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Stilu';
  src: url('/fonts/stilu/stilu-regular-webfont.eot');
  src: url('/fonts/stilu/stilu-regular-webfont.eot?#iefix')
      format('embedded-opentype'),
    url('/fonts/stilu/stilu-regular-webfont.woff') format('woff'),
    url('/fonts/stilu/stilu-regular-webfont.ttf') format('truetype'),
    url('/fonts/stilu/stilu-regular-webfont.svg#webfont') format('svg');
}

body {
  font-family: Stilu;
}

/* https://discourse.webflow.com/t/overflow-hidden-round-corners-not-working-on-safari/67805/5 */
.rounded-full {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
}
