@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Stilu';
  src: url('/fonts/stilu/stilu-regular-webfont.eot');
  src: url('/fonts/stilu/stilu-regular-webfont.eot?#iefix')
      format('embedded-opentype'),
    url('/fonts/stilu/stilu-regular-webfont.woff') format('woff'),
    url('/fonts/stilu/stilu-regular-webfont.ttf') format('truetype'),
    url('/fonts/stilu/stilu-regular-webfont.svg#webfont') format('svg');
}

body {
  font-family: Stilu;
}

@layer utilities {
  .rounded-full {
    border-radius: 9999px;

    /* https://discourse.webflow.com/t/overflow-hidden-round-corners-not-working-on-safari/67805/5 */
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
  }

  .underline-offset-1 {
    text-underline-offset: 1px;
  }
  .underline-offset-2 {
    text-underline-offset: 2px;
  }
  .underline-offset-3 {
    text-underline-offset: 3px;
  }

  .text-shadow {
    text-shadow: 1px 1px rgba(0, 0, 0, 0.25);
  }
}

html {
  height: 100%;
}

body {
  background: #d8d5c6; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #eaeaea,
    #dbdbdb,
    #f2f2f2,
    #d8d5c6
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #eaeaea,
    #dbdbdb,
    #f2f2f2,
    #d8d5c6
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  min-height: 100%;
}
